 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #7baabb);
  min-height: 1254px;
}

.u-section-1 .u-text-1 {
  line-height: 0.87;
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 2px calc(((100% - 1140px) / 2) + 613px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-slider-1 {
  min-height: 177px;
  height: auto;
  width: 1406px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2) + -99px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2665215810-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/business-people-working-with-laptop-office.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 35px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 30px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 40px;
}

.u-section-1 .u-group-1 {
  min-height: 842px;
  height: auto;
  width: 1355px;
  background-image: linear-gradient(#7baabb, white);
  margin: 24px calc(((100% - 1140px) / 2) + -166px) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 24px 483px 0 -52px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 14px 592px 0 76px;
}

.u-section-1 .u-slider-2 {
  width: 466px;
  min-height: 331px;
  height: auto;
  margin: -722px 40px 0 auto;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  top: auto;
  bottom: 22px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-3 {
  background-image: url("images/PhoneShare.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/firstShareP.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  background-image: url("images/sharePoint.png");
  background-position: 38.17% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-carousel-control-3 {
  width: 71px;
  height: 71px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-4 {
  width: 71px;
  height: 71px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 67px auto 2px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1548px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-right: calc(((100% - 940px) / 2) + 413px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-slider-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 1110px;
    width: 1039px;
    margin-top: 26px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 422px;
    margin-left: -97px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 6px;
    margin-right: 324px;
    margin-left: 26px;
  }

  .u-section-1 .u-slider-2 {
    width: 283px;
    min-height: 210px;
    margin-top: -697px;
    margin-right: 24px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 403px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-slider-2 {
    margin-top: -722px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 313px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2 {
  background-image: linear-gradient(#7baabb, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 234px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1166px;
  margin: 0 -13px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 234px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-1 {
  height: 190px;
  width: 252px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -162px 25px 0 304px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 24px -244px 0 304px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  margin: 22px -244px 0 304px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -183px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 298px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -87px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    width: auto;
    margin-top: -190px;
    margin-right: -198px;
    margin-left: 301px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 116px;
    margin-left: 301px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-right: 127px;
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 710px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -162px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #7baabb);
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 500;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 36px 444px 0 16px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px 16px 60px auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -235px;
    margin-right: 273px;
    margin-left: -13px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 42px;
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    width: 340px;
  }
}